<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!--this is for the mobile-first feature-->
    <title>Crowdsource Prototype</title>
    <!-- load the css first-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://sif.library.illinois.edu/prototyping/assets/css/homepage_layouts.css">
    <link rel="stylesheet" href="http://sif.library.illinois.edu/prototyping/assets/css/homepage_colors_fonts.css">
    <link rel="stylesheet" href="./fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="style.css">



    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="./fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="./fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    
    <!-- Add jQuery library -->

    <!-- Add mousewheel plugin (this is optional) -->

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="./fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />




    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
  </head>

  <!-- ===========================================================================================================start of body, end of head-->
  
  <body>


    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <header id="first-navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="header-full-width-column">
            <div class="row">
              <div class="col-sm-6 col-md-7">
              <a href="library.illinois.edu/"><img class="img-responsive" src="http://sif.library.illinois.edu/prototyping/assets/university_libraries_wordmark_with_imark.png"></a>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- ========================================================================================================start of app container, end of header-->




    <div class="application__content">
      <div class="container">
      <!--used to be div class="page-header"-->
        <div class="head-total">
          <h3 class="head1">Crowdsourcing Categorization</h3>
          <h2 class="head2">The Daily Illini</h2>
          <hr class="orange-line"></hr>
        </div>  
      </div>
    </div>
      <!-- ===========================================================================================================start of image table template contents, end of container-->

    <div id="table"></div>


<script type="text/template" id="crowdsourcetemplate">
  <table class="image-table">
    <th class="image-column">
      <div id="images" class="img-container">
        <!--class="img-thumbnail" -->
        <a title="social media" class="fancy-box" rel="group" href=""><img class="img-img" src="<%= picurl %>" alt="" /></a>
      </div>
    </th>
    
<!--=======================================================================================================end of the image column, start of the control vocabulary column-->
    <th class="control-col">

      <p class="control-big">What kind of ad is this?</p>  

      <form>
        Category:
        <select name="select">
          <option value="Beauty">Beauty</option>
          <option value="Books/Publishing">Books/Publishing</option>
          <option value="Cars">Cars</option>
          <option value="Clothing">Clothing</option>
          <option value="Food">Food</option>
          <option value="Health">Health</option>
          <option value="Household">Household</option>
          <option value="Jewelry">Jewelry</option>
          <option value="Luxury">Luxury</option>
          <option value="Professional Services">Professional Services</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Retail">Retail</option>
          <option value="Sports/Outdoors">Sports/Outdoors</option>
          <option value="Technology">Technology</option>
          <option value="Movies/Theatre">Movies/Theatre</option>
          <option value="Travel">Travel</option>
          <option value="Travel">Entertainment</option>
          <option value="Other">Other</option>
        </select>
        <br><br>
        Company: <input type="text" name="company">
        <br><br>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" id="switch">Switch Image&rarr;</button>
          <button type="button" class="btn btn-default" id="submit">Submit</button>
        </div>
      </form>
        <br>
        <a id="tweet" href="https://twitter.com/share" class="twitter-share-button" data-text="Join Crowd-source categorization with us!" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
       <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
  Share on Facebook
</a>  -->         <!--debug!!!!!!!===============================-->

    </th>
  </table>

</script>

<!-- ==========================================================================================start of the advanced stuff, end of the crowdsource template-->

  

  
  <!--load libraries first-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/g/jquery@2.1,bootstrap@3.2,underscorejs@1.6,backbonejs@1.1"></script>
  <!--then other script files come after the library-->
  <script src="http://requirejs.org/docs/release/2.1.11/minified/require.js"></script>
  <script type="text/javascript" src="./fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
  <script src= "./main.js"></script>


  </body>
</html>