.head-total {
	text-align: buttom; 
	margin-top:50px;
}

.head2 {
	font-size: 85%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #bbb;
    font-size: 10px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 100;	
}

.image-table {
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 1%; 
	width:1000px; 
	height: 650px; 
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;

}

.image-column {
	width: 700px; 
	height: 650px; 
	background-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;
	text-align: center;
}

.img-img {
	max-width: 650px; 
	max-height: 600px;
	background-size:auto; 
}

.control-col {
	background-color: #B3D4FC;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;

	color: #333;
	line-height: 200%;
	letter-spacing: 0px;
	text-align: center;

	width: 300px; 
	height: 650px; 
}

.control-big{
	font-size: 20px;
	font-weight: bold;
}

.fancybox {
	background-position: center;
}
